flows.json
[{"id":"a11d7d92.d69b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24f392ee.843a3e","type":"ui_form","z":"a11d7d92.d69b7","name":"","label":"","group":"c082c2d4.ba914","order":1,"width":0,"height":0,"options":[{"label":"Enter your Query:","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"Ask ","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["e9bf68bf.e8ddb8"]]},{"id":"e9bf68bf.e8ddb8","type":"function","z":"a11d7d92.d69b7","name":"","func":"msg.payload=msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["d276bfdc.b2303","9291a30b.58441"]]},{"id":"d58b9a31.b88258","type":"function","z":"a11d7d92.d69b7","name":"","func":"if(msg.payload.output.error)\n{\n    msg.payload=\"Can you please Rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["c839ed9f.c15d8","7225fb72.c34ca4"]]},{"id":"d276bfdc.b2303","type":"ui_text","z":"a11d7d92.d69b7","group":"c082c2d4.ba914","order":2,"width":0,"height":0,"name":"","label":"Customer :","format":"{{msg.payload}}","layout":"col-center","x":330,"y":480,"wires":[]},{"id":"c839ed9f.c15d8","type":"ui_text","z":"a11d7d92.d69b7","group":"c082c2d4.ba914","order":3,"width":12,"height":4,"name":"","label":"BOT :","format":"{{msg.payload}}","layout":"col-center","x":672.0000076293945,"y":446.0000066757202,"wires":[]},{"id":"dfdd2f8b.45048","type":"debug","z":"a11d7d92.d69b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"9291a30b.58441","type":"watson-conversation-v1","z":"a11d7d92.d69b7","name":"Customer Care","workspaceid":"5b150132-cbae-4370-99fc-c85c213c6158","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/86eb19d6-64d5-4a2e-beae-fa402e86a752","timeout":"","optout-learning":false,"x":389.00000762939453,"y":149.00000190734863,"wires":[["dfdd2f8b.45048","d58b9a31.b88258"]]},{"id":"7225fb72.c34ca4","type":"ui_audio","z":"a11d7d92.d69b7","name":"","group":"c082c2d4.ba914","voice":"en-US","always":"","x":699,"y":152,"wires":[],"l":false},{"id":"c082c2d4.ba914","type":"ui_group","z":"","name":"CHATBOT","tab":"92a5efe6.e21ac","order":1,"disp":true,"width":"12","collapse":false},{"id":"92a5efe6.e21ac","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]